# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://ujojzlwhucpdjpmlzmiu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVqb2p6bHdodWNwZGpwbWx6bWl1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ1NTM3OTIsImV4cCI6MjA5MDEyOTc5Mn0.3IXRQ7jcrw6W9MFSJawzfmK2dZQ6KRTRZ5nOF6d8RMo
